window#osd {
  border-radius: 16px;
  margin: 32px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5), inset 0px 1px 2px rgba(255, 255, 255, 0.3);
  background: alpha(@theme_bg_color, 0.5);
}

window#osd #container {
  margin: 6px 12px;
}

window#osd image {
  -gtk-icon-transform: scale(0.5);
  margin: 0px -4px;
}

window#osd image,
window#osd label {
  color: @theme_fg_color;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar,
window#osd segmentedprogress {
  min-height: 2px;
  border-radius: 999px;
  background: transparent;
  border: none;
  margin-right: 4px;
}

window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(@theme_fg_color, 0.5);
}

window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @theme_fg_color;
}

window#osd segment {
  margin-left: 8px;
}

window#osd segment:first-child {
  margin-left: 0;
}
