@define-color background #000000;
@define-color foreground #ffffff;
@define-color cursor #ffffff;
@define-color border #ffffff;
@define-color color0 #000000;
@define-color color1 #616161;
@define-color color2 #6a6a6a;
@define-color color3 #6f6f6f;
@define-color color4 #6f6f6f;
@define-color color5 #8b8b8b;
@define-color color6 #9e9e9e;
@define-color color7 #dedede;
@define-color color8 #000000;
@define-color color9 #797979;
@define-color color10 #848484;
@define-color color11 #8a8a8a;
@define-color color12 #8a8a8a;
@define-color color13 #adadad;
@define-color color14 #c5c5c5;
@define-color color15 #ffffff;
