@define-color background #09090b;
@define-color foreground #c4d2ff;
@define-color cursor #c4d2ff;
@define-color border #c4d2ff;
@define-color color0 #09090b;
@define-color color1 #363c5b;
@define-color color2 #553f1e;
@define-color color3 #474152;
@define-color color4 #444862;
@define-color color5 #535865;
@define-color color6 #526686;
@define-color color7 #939cc8;
@define-color color8 #28292e;
@define-color color9 #434b71;
@define-color color10 #6a4e25;
@define-color color11 #585166;
@define-color color12 #555a7a;
@define-color color13 #676e7e;
@define-color color14 #667fa7;
@define-color color15 #c4d2ff;
