[Desktop Entry]
Type=Application
Name=Logout Hyprland
Exec=/home/grant/.config/hypr/scripts/logout-hyprland.sh
Icon=/home/grant/.local/share/icons/.Fluent-base/scalable/apps/gnome-logout.svg
Terminal=false
Categories=Utility;