[Desktop Entry]
Type=Application
Name=Sleep
Exec=systemctl suspend
Icon=/home/grant/.local/share/icons/.Fluent-base/scalable/apps/system-shutdown.svg
Terminal=false
Categories=Utility;